/cmake-build-debug/.cmake/api/v1/query/cache-v2
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-8f3ecd0d7b50a7224aab.json
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-b14d2a754c5c93db008d.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-caa7e38b33e41c9c5a5b.json
/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/cmake-build-debug/.cmake/api/v1/reply/index-2024-05-10T08-40-57-0515.json
/cmake-build-debug/.cmake/api/v1/reply/target-client-Debug-a86144cf37507fae5f2e.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-59c84e7e9823f39a3470.json
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.exe
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.obj
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.exe
/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.obj
/cmake-build-debug/CMakeFiles/3.28.1/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/CMakeFiles/3.28.1/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.28.1/CMakeSystem.cmake
/cmake-build-debug/CMakeFiles/client.dir/embed.manifest
/cmake-build-debug/CMakeFiles/client.dir/intermediate.manifest
/cmake-build-debug/CMakeFiles/client.dir/main.cpp.obj
/cmake-build-debug/CMakeFiles/client.dir/manifest.rc
/cmake-build-debug/CMakeFiles/client.dir/manifest.res
/cmake-build-debug/CMakeFiles/client.dir/vc140.pdb
/cmake-build-debug/CMakeFiles/ShowIncludes/foo.h
/cmake-build-debug/CMakeFiles/ShowIncludes/main.c
/cmake-build-debug/CMakeFiles/ShowIncludes/main.obj
/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-debug/CMakeFiles/rules.ninja
/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/cmake-build-debug/Testing/Temporary/LastTest.log
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/client.exe
/cmake-build-debug/client.ilk
/cmake-build-debug/client.pdb
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
/.idea/.gitignore
/.idea/client.iml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
